{% macro render(options) %}
{% import "components/_widgets.njk" as widGets %}
    <div class="blog-area blog-area--l9 bg-default">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!-- Section Title -->
                    <div class="section-title section-title--l9 text-center">
                        <h6 class="section-title__sub-heading text-electric-violet-2" data-aos="fade-up" data-aos-duration="500"
                        data-aos-once="true">Blog</h6>
                        <h2 class="section-title__heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300"
                        data-aos-once="true">Latest Posts</h2>
                    </div>
                    <!--/ .Section Title -->
                </div>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500"
                        data-aos-once="true">
                {% for data in options.blogsData %}
                <!--/ .Single Blogs -->
                <div class="col-lg-4 col-md-6 col-xs-10">
                    {{widGets.Blogs(
                        {
                        "bgImage"    : data.bgImage, 
                        "badgeColor"    : data.badgeColor, 
                        "badge"    : data.badge, 
                        "blgoTitle" : data.blgoTitle
                        }
                    )}}
                </div>
                <!--/ .Single Blogs -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}