{% macro render(options) %}
    <div class="welcome-area welcome-area--l9 bg-default-8">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 col-xs-11 order-2 order-lg-1">
                    <div class="welcome-content">                    
                        <h5 class="welcome-content__sub-heading text-java" data-aos="fade-up"
                            data-aos-duration="500" data-aos-once="true">Startup & Small Business consultancy</h5>
                        <h1 class="welcome-content__heading" data-aos="fade-up"
                    data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
                        Strategy Driven Business Process Consulting
                    </h1>
                        <p class="welcome-content__text" data-aos="fade-up"
                    data-aos-duration="500" data-aos-delay="500" data-aos-once="true">When, while lovely valley teems with vapour around<br class="d-none d-xs-block"> meand meridian
                        sun strikes the upper impenetroble<br class="d-none d-xs-block"> foliage of my trees, and but a thousand.</p>
                        <div class="welcome-btn-group" data-aos="fade-up"
                            data-aos-duration="500" data-aos-delay="700" data-aos-once="true">
                            <a class="btn btn--lg-2 btn-electric-violet-2 me-3 text-white shadow--electric-violet-2 rounded-50 me-3 "
                            href="#">Learn More</a>
                            <a class="btn btn-outline-shark btn--lg-2 border-width-2 rounded-50 me-3"
                            href="#">Get a Quote</a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7 col-xl-6 col-lg-5 col-md-9 col-xs-11 order-1 order-lg-2">
                    <div class="welcome-img welcome-img--l9 video-box">
                        <img class="w-100" src="./image/home-8/hero-img.png" alt=""/>
                        <!-- Video Button -->
                        <a class="video-btn btn-electric-violet-2 popup-btn"
                            href="https://www.youtube.com/watch?v=LWZ7iytIA6k">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endmacro %}