{% macro render(options) %}
{% import "components/_newsletter.njk" as newsletterOne %}
<div class="promo-area promo-area--l9 bg-shark">
    <div class="container">
        <div class="row justify-content-center mx-7">
            <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10" data-aos="fade-up" data-aos-duration="500"
                data-aos-once="true">
                <div class="promo promo--box-1 bg-electric-violet-2">
                    <div class="promo-wrapper">
                        <div class="section-title section-title--l9 text-center dark-mode-texts">
                            <h6 class="section-title__sub-heading">Get notified about trending projects</h6>
                            <h2 class="section-title__heading">Subscribe Now</h2>
                        </div>
                        <!-- Newsletter -->
                        {{newsletterOne.render({
                        "additional_class" : "promo--l9-newsletter",
                        "newsletter_additional_class" : "border-0",
                        "newsletter_btn_class" : "btn btn-white me-1",
                        "placeHoldertext" : "Enter your email",
                        "btnTitle" : "<i class=\"fa fa-long-arrow-alt-right text-electric-violet-2\"></i>"
                        })}}
                        <!--/ .Newsletter -->
                    </div>
                </div>

            </div>
            <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10" data-aos="fade-up" data-aos-duration="500"
                data-aos-once="true">
                <div class="promo promo--box-2 bg-yellow-3">
                    <div class="promo-wrapper">
                        <div class="section-title section-title--l9 text-center">
                            <h6 class="section-title__sub-heading">Interested in our service?</h6>
                            <h2 class="section-title__heading">
                                Start a new project</h2>
                            <a class="btn btn--lg-2 btn-electric-violet-2 text-white rounded-50 shadow--electric-violet-2-4 mt-2"
                                href="#">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}