{% macro render(options) %}
    {% import "components/Cards/cards.njk" as Card %}
    <div class="testimonial-section testimonial-section--l9 bg-default-8{{options.classes}}">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-9 col-xxl-7">
                    <div class="section-title section-title--l9 text-center" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                        <h6 class="section-title__sub-heading text-electric-violet-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">Testimonial</h6>
                        <h2 class="section-title__heading mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">What The People Thinks About Us</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center testimonial-slider--l9" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
                {% for data in options.testimonialData %}
                    <div class="col-lg-3 col-md-12">
                        {{Card.testimonialFive(
                        {
                        "image"    : data.image, 
                        "userName" : data.userName, 
                        "userPosition" : data.userPosition,
                        "description":data.description
                        }
                    )}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}