{% macro render(options) %}
<div class="newsletter-form{{' ' + options.additional_class if  options.additional_class}}">
    <form action="/.">
        <div class="d-flex align-items-center justify-content-center flex-column flex-xs-row">
            <input
                class="form-control {{' ' + options.newsletter_additional_class if  options.newsletter_additional_class}}"
                type="email" placeholder="{{options.placeHoldertext | safe}}" required>
            <button class="{{' ' + options.newsletter_btn_class if  options.newsletter_btn_class}}"
                type="submit">{{options.btnTitle | safe}}</button>
        </div>
    </form>
</div>
{% endmacro %}