<!-- widgetsOne -->
{% macro service(options) %}
    <div class="widget widget--service text-center text-md-start" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true">
        <div class="widget__icon widget__icon--{{options.shapeColor}} mx-auto mx-md-0">
            <img src="{{options.image}}" alt="">
        </div>
        <div class="widget__body">
            <h5 class="widget__heading">{{options.heading}}</h5>
            <p class="widget__description">Stay on top of your task lists and stay<br class="d-none d-md-block"> in touch
            with what's happening</p>
        </div>
    </div>
{% endmacro %}

<!-- widgetsOne -->
{% macro feature(options) %}
    <div class="widget widget--feature {{options.classes}}" {{options.attrs}}>
        <i class="{{options.icon}}"></i>
        <span class="widget-text">{{options.text}}</span>
    </div>
{% endmacro %}

{#
<!--  Feature widget : Home 2  -->#}

{% macro featureTwo(options) %}
    <div class="widget widget--feature-2">
        <div class="widget--feature-2__icon{{' ' + options.iconBackground if options.iconBackground}}">
            <img src="{{options.icon}}" alt="">
        </div>
        <div class="widget--feature-2__body">
            <h4 class="widget--feature-2__title">{{options.title}}</h4>
            <p class="widget--feature-2__content">{{options.text | safe}}</p>
        </div>
    </div>
{% endmacro %}

{#
<!--  Feature widget : Home 2  -->#}
{% macro featureTab(options) %}
    <a class="widget widget--feature{{ ' ' + options.classes if options.classes}}{{' active' if options.active}}"
    data-bs-toggle="pill" id="{{options.id}}" href="#{{options.tabContentTarget}}" role="tab"
    aria-controls="{{options.tabContentTarget}}" aria-selected="{{options.selectType}}">
        <i class="{{options.icon}}"></i>
        <span class="widget-text">{{options.text}}</span></a>
{% endmacro %}

<!-- featuresOne One -->
{% macro featuresOne(options) %}
    <div class="">
        <img src="{{options.image}}" alt="">
    </div>
    <div class="">
        <h5 class="">{{options.headinsg}}</h5>
        <p class="">{{options.content}}</p>
    </div>
{% endmacro %}

<!-- testimonialOne -->
{% macro testimonialOne(options) %}
    <div class="widget widget--testimonial">
        <div class="review-star">
            <a class="review-star__single" href="#">
                <i class="fa fa-star"></i>
            </a>
            <a class="review-star__single" href="#">
                <i class="fa fa-star"></i>
            </a>
            <a class="review-star__single" href="#">
                <i class="fa fa-star"></i>
            </a>
            <a class="review-star__single" href="#">
                <i class="fa fa-star"></i>
            </a>
            <a class="review-star__single active" href="#">
                <i class="fa fa-star"></i>
            </a>
        </div>
        <p class="widget--testimonial__description">Create custom landing pages with Fastland that converts more visitors
        than any website. Easy, Reliable & Fast.</p>
        <div class="widget widget--profile">
            <img class="widget--profile__image" src="{{options.image}}" alt="">
            <div class="widget--profile__body">
                <h6 class="widget--profile__name">{{options.userName}}</h6>
                <p class="widget--profile__position">{{options.userCat}}</p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro contentWidget(options) %}
    <div class="widget widget--content-l3">
        <div class="widget--content-l3__circle">
            <h2 class="widget--content-l3__circle-content bg-{{options.color}} shadow--{{options.color}} dark-mode-texts">
                {{options.counter}}</h2>
        </div>
        <h4 class="widget--content-l3__title">{{options.title}}</h4>
        <p class="widget--content-l3__text">Part of what Adobe does is <br class="d-xs-none"> advise customers about how <br
            class="d-xs-none"> to transform, to be more</p>
    </div>
{% endmacro %}

{% macro contentWidgettwo(options) %}
    <!-- Single Content Widgets -->
    <div class="widgets__single d-flex">
        <div class="widgets__single__icon">
            <i class="{{options.icon}}"></i>
        </div>
        <div class="widgets__single__content">
            <h4 class="widgets__single__heading">{{options.heading}}</h4>
            <p class="widgets__single__content">Corporate headquarters is the part of a corporate<br
                class="d-none d-xs-block"> structure that deals with important</p>
        </div>
    </div>
    <!--/ .Single Content Widgets -->
{% endmacro %}

{% macro contentWidgetThree(options) %}
    <div class="widget widget--content-l4 {{options.additional_classes}}">
        <div class="widget--content-l3__circle">
            <h2 class="widget--content-l3__circle-content bg-{{options.color}} mx-auto mx-xl-0 text-torch-red">
                {{options.counter}}</h2>
        </div>
        <h4 class="widget--content-l4__title">{{options.title}}</h4>
        <p class="widget--content-l4__text">You can also record any<br class="d-none d-md-block"> previous experience at<br
            class="d-none d-md-block"> other jobs.</p>
    </div>
{% endmacro %}

{% macro contentWidgetFour(options) %}
    <div class="widgets widgets--content-1-l5">
        <h5 class="widgets__title">{{options.title}}</h5>
        <p class="widgets__content">{{options.content}}</p>
    </div>
{% endmacro %}

{% macro contentWidgetFive(options) %}
    <div class="widget widget--content-l9 {{options.additional_classes}}">
        <div class="widget--content-l9__circle">
            <h2 class="widget--content-l9__circle-content bg-{{options.color}} dark-mode-texts">
                {{options.counter}}</h2>
        </div>
        <h4 class="widget--content-l9__title">{{options.title}}</h4>
        <p class="widget--content-l9__text">Leverage agile frameworks to<br class="d-none d-md-block"> provide a robust synopsis for high<br class="d-none d-md-block"> level overviews.</p>
    </div>
{% endmacro %}

{% macro aboutWidgetone(options) %}
    <div class="widgets widgets--about-l6 d-flex">
        <div class="widgets__icon">
            <i class="{{options.icon}}"></i>
        </div>
        <div class="widgets__content">
            <h5 class="widgets__title">{{options.title}}</h5>
            <p class="widgets__text">{{options.text}}</p>
        </div>
    </div>
{% endmacro %}
{% macro aboutWidgettwo(options) %}
    <div class="widget widget--content-l6">
        <div class="widget--content-l6__circle bg-{{options.color}} shadow--{{options.color}} dark-mode-texts text-white">
            <i class="{{options.icon}}"></i>
        </div>
        <h4 class="widget--content-l6__title">{{options.title}}</h4>
        <p class="widget--content-l6__text">Generate Lorem Ipsum place holder<br class="d-none d-xl-block"> text for use in your Explore</p>
    </div>
{% endmacro %}

{% macro servicesWidget(options) %}
    <div class="widgets widgets__services-single d-sm-flex align-items-center">
        <div class="widgets__img mb-4 mb-sm-0">
            <img src="{{options.image}}" alt="">
        </div>
        <div class="widgets-services__single-content">
            <h3 class="widgets__heading">{{options.heading}}</h3>
            <p class="widgets__text">{{options.text}}</p>
        </div>
    </div>
{% endmacro %}

{% macro faqs(options) %}
    <!-- Single Faq -->
    <div class="faqs faqs__single">
        <div class="faqs__media d-flex">
            <div class="faqs__icon">
                <i class="fa fa-question"></i>
            </div>
            <div class="faqs__content">
                <h4 class="faqs__content__title">{{options.title}}</h4>
                <p class="faqs__content__text">{{options.content}}</p>
            </div>
        </div>
    </div>
    <!-- End Single Faq -->
{% endmacro %}

{% macro Blogs(options) %}
    <div class="blogs-post blogs-post--small">
        <img class="w-100" src="{{options.bgImage}}" alt="">
        <div class="hover-content">
            <div class="hover-content__top d-flex align-items-center dark-mode-texts">
                <a href="/blog-details.html" class="hover-content__badge badge bg-{{options.badgeColor}} text-shark">{{options.badge}}</a>
                <a href="/blog-details.html" class="hover-content__date">01 June, 2020</a>
            </div>
            <a href="/blog-details.html" class="hover-content__title">{{options.blgoTitle | safe}}</a>
            <ul class="hover-content__post-meta list-unstyled">
                <li>
                    <a href="/blog-details.html">By George Lee</a>
                    <a href="/blog-details.html"> 0 Comments</a>
                </li>
            </ul>
        </div>
    </div>
{% endmacro %}