{% macro servicesCard(options) %}
    <a href="#" class="card card--service">
        <div class="card--service__icon bg-op2--{{options.color}} text-{{options.color}}">
            <i class="{{options.icon}}"></i>
        </div>
        <h2 class="card--service__title">{{options.heading | safe}}</h2>
        <p class="card--service__content">50 availabe vacancy</p>
    </a>
{% endmacro %}

{% macro testimonial(options) %}
    <div class="card card-testimonial--l3">
        <div class="card-image">
            <img src="{{options.image}}" alt="">
        </div>
        <div class="card-body ">
            <p class="card-description">{{options.description}}</p>
            <div class="d-flex flex-wrap justify-content-between align-items-center card-user-block">
                <div class="card-body__user mr-3">
                    <h3 class="card-title">{{options.userName}}</h3>
                    <p class="card-text--ext">{{options.userPosition}}</p>
                </div>
                <ul class="review-star reviw-star--size-2 list-unstyled mb-0">
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro testimonialTwo(options) %}
    <div class="card card-testimonial--l4">
        <div class="card-body ">
            <div class="card-body__top d-flex align-items-center justify-content-between">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="card-image">
                        <img src="{{options.image}}" alt="">
                    </div>
                    <div class="card-body__user mr-3">
                        <h3 class="card-title">{{options.userName}}</h3>
                        <p class="card-text--ext">{{options.userPosition}}</p>
                    </div>
                </div>
                <div class="card-icon">
                    <i class="fa fa-quote-left"></i>
                </div>

            </div>
            <p class="card-description">{{options.description}}</p>
        </div>
    </div>
{% endmacro %}

{% macro servicesCardTwo(options) %}
    <div class="card card--services-l5">
        <div class="card--services-l5__icon bg-{{options.color}} shadow--icon-{{options.color}}">
            <i class="{{options.icon}}"></i>
        </div>
        <h3 class="card--services-l5__heading">{{options.heading}}</h3>
        <p class="card--services-l5__content">There are many variations passages of Lorem lpsum majority some by words, if
        you are intending to use.</p>
        <a class="btn-link hover-link--{{options.color}}" href="#">Learn More <i class="fa fa-angle-right"></i>
        </a>
    </div>
{% endmacro %}

{% macro testimonialThree(options) %}
    <div class="card card-testimonial--l5">
        <div class="card-image">
            <img src="{{options.image}}" alt="">
        </div>
        <div class="card-body ">
            <p class="card-description">{{options.description}}</p>
            <div class="d-flex flex-wrap justify-content-between align-items-center card-user-block">
                <div class="card-body__user mr-3">
                    <h3 class="card-title">{{options.userName}}</h3>
                    <p class="card-text--ext">{{options.userPosition}}</p>
                </div>
                <ul class="review-star reviw-star--size-2 list-unstyled mb-0">
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                    <li class="review-star__single">
                        <i class="fa fa-star"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro servicesCardThree(options) %}
    <div class="card card--services-l6 text-center card-hover__{{options.color}}">
        <div class="card--services-l6__icon bg-op1__{{options.color}} mx-auto">
            <i class="text-{{options.color}} {{options.icon}}"></i>
        </div>
        <h3 class="card--services-l6__heading">{{options.heading}}</h3>
        <p class="card--services-l6__content">There are many variations and<br class="d-none d-xs-block"> passages of Lorem
        lpsum<br class="d-none d-xs-block"> available for use</p>
    </div>
{% endmacro %}

{% macro servicesCardFour(options) %}
    <div class="card card--services-l9 text-center card-hover-bg__{{options.color}}">
        <div class="card--services-l9__icon bg-op1__{{options.color}} mx-auto">
            <i class="text-{{options.color}} {{options.icon}}"></i>
        </div>
        <h3 class="card--services-l9__heading">{{options.heading}}</h3>
        <p class="card--services-l9__content">{{options.text}}</p>
    </div>
{% endmacro %}

{% macro testimonialFour(options) %}
    <div class="card card--testimonial-l7">
        <img class="w-100" src="{{options.image}}" alt="">

        <div class="card__hover">
            <div class="card__user-media">
                <h4 class="card__user-media__name">{{options.userName}}</h4>
                <p class="card__user-media__cat">{{options.userPosition}}</p>

                <div class="social-profile">
                    <ul class="list-unstyled d-flex align-items-center">
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro testimonialFive(options) %}
    <div class="card card-testimonial--l9">
        <div class="card-body">
            <div class="card__icon">
                <i class="fa fa-quote-left"></i>
            </div>
            <p class="card__content">{{options.description}}</p>
            <div class="card-body__top d-flex align-items-center justify-content-between">
                <div class="card__meta d-flex flex-wrap align-items-center">
                    <div class="card__meta__image">
                        <img src="{{options.image}}" alt="">
                    </div>
                    <div class="card-body__user mr-3">
                        <h3 class="card__meta__title">{{options.userName}}</h3>
                        <p class="card__meta__text">{{options.userPosition}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}