{% macro render(options) %}
<div class="content-section content-section--l1-2 bg-default-2">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7 col-md-7 col-xs-9 order-2 order-lg-1">
                 <div class="content-texts content-texts--l1-2" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
                    <h2 class="content__heading">Save your extra <br> money by using<br> our service.</h2>
                    <p class="content__description">Create custom landing pages
                        with Fastland<br class="d-none d-sm-block"> that converts more visitors than any<br
                            class="d-none d-sm-block"> website. Easy, Reliable & Fast.</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-5 offset-lg-1 col-md-7 col-xs-9 order-1 order-lg-2">
                <div class="content-image-group content-image-group--l1_2" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
                    <div class="card card--content-2 bg-white">
                        <div class="card--content-single border-bottom-dotted-3">
                            <h2 class="card--content-2__currency">$271,824</h2>
                            <p class="card--content-2__text">Annual revenue</p>
                        </div>
                        <div class="card--content-single">
                            <h2 class="card--content-2__currency">$4,249</h2>
                            <p class="card--content-2__text">Savings using other services</p>
                        </div>
                        <div
                            class="card--content-single card--content-single--highlight  bg-green-2">
                            <h2 class="card--content-2__currency">$21,947</h2>
                            <p class="card--content-2__text">Savings using Fastland</p>
                        </div>
                    </div>
                    <div class="content-image-group__image content-image-group__image-1">
                        <img class="w-100" src="./image/home-1/l1-contentTwo-shape-1.png" alt="" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
                    </div>
                    <div class="content-image-group__image content-image-group__image-2" data-aos="fade-bottom" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
                        <img class="w-100" src="./image/home-1/gray-dots.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endmacro %}