{% macro render(options) %}
    {% import "components/_widgets.njk" as Widget %}
    <div class="feature-section feature-section--l1 bg-blue-ribbon dark-mode-texts">
        <!-- Section Shape -->
        <div class="feature-section--l1__shape-group">
            <img class="w-100" src="./image/home-1/l1-half-circle-shape.png" alt="">
            <div class="img-1">
                <img class="w-100" src="./image/home-1/l1-full-circle-shape.png" alt="">
            </div>
        </div>
        <!--/ .Section Shape -->
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="col-xl-8 col-lg-10">
                    <div class="section-title" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
                        <h2 class="section-title__heading mb-5">Best features available <br class="d-none d-xs-block"> for your
                        social marketing.</h2>
                        <p class="section-title__description mt-8">Create custom landing pages with Fastland
                        that converts<br class="d-none d-xs-block"> more visitors than any website. Easy & Fast.</p>
                    </div>
                </div>
            </div>
            <!--/ .Section Title -->
            <div class="feature-area-tab">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-lg-3 col-md-12 col-xs-6 col-8">
                        <div class="nav nav-tab--feature row ms-0 me-0" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                           {{Widget.featureTab({
                            "selectType": "true",
                            "classes":"nav-item col-lg-12 col-md-4 col-xs-6 col-8 me-md-3 me-lg-0 active",
                            "id":"v-pills-home-tab",
                            "tabContentTarget":"v-pills-home",
                            "icon":"fa fa-chart-pie",
                            "text":"Analytics"
                           })}}
                           {{Widget.featureTab({
                            "selectType": "false",
                            "classes":"nav-item col-lg-12 col-md-4 col-xs-6 col-8 me-md-3 me-lg-0",
                            "id":"v-pills-profile-tab",
                            "tabContentTarget":"v-pills-profile",
                            "icon":"far fa-flag",
                            "text":" Advertisement"


                           })}}
                           {{Widget.featureTab({
                            "selectType": "false",
                            "classes":"nav-item col-lg-12 col-md-4 col-xs-6 col-8 me-md-3 me-lg-0",
                            "id":"v-pills-messages-tab",
                            "tabContentTarget":"v-pills-messages",
                            "icon":"fas fa-chart-line",
                            "text":" Sales Report"

                           })}}
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                        <div class="tab-content tab-content--feature" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-sm-8 col-xs-9" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
                                        <div class="features-content__item">
                                            <h2 class="features-content__item__count">01.</h2>
                                            <h5 class="features-content__item__heading">Real data access</h5>
                                            <p class="features-content__item__content">Create custom landing pages with<br
                                                class="d-none d-md-block"> Fastland that converts more visitors<br
                                                class="d-none d-md-block"> than any website.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-8 col-xs-9" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
                                        <div class="features-content__item">
                                            <h2 class="features-content__item__count">02.</h2>
                                            <h5 class="features-content__item__heading">Daily email reports</h5>
                                            <p class="features-content__item__content">Create custom landing pages with<br
                                                class="d-none d-md-block"> Fastland that converts more visitors<br
                                                class="d-none d-md-block"> than any website.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                                <div class="row">
                                    <div class="col-md-6 col-sm-8 col-xs-9" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
                                        <div class="features-content__item">
                                            <h2 class="features-content__item__count">03.</h2>
                                            <h5 class="features-content__item__heading">Real data access</h5>
                                            <p class="features-content__item__content">Create custom landing pages with<br
                                                class="d-none d-md-block"> Fastland that converts more visitors<br
                                                class="d-none d-md-block"> than any website.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-8 col-xs-9" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
                                        <div class="features-content__item">
                                            <h2 class="features-content__item__count">04.</h2>
                                            <h5 class="features-content__item__heading">Daily email reports</h5>
                                            <p class="features-content__item__content">Create custom landing pages with<br
                                                class="d-none d-md-block"> Fastland that converts more visitors<br
                                                class="d-none d-md-block"> than any website.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">
                                <div class="row">
                                    <div class="col-md-6 col-sm-8 col-xs-9" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
                                        <div class="features-content__item">
                                            <h2 class="features-content__item__count">05.</h2>
                                            <h5 class="features-content__item__heading">Real data access</h5>
                                            <p class="features-content__item__content">Create custom landing pages with<br
                                                class="d-none d-md-block"> Fastland that converts more visitors<br
                                                class="d-none d-md-block"> than any website.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-8 col-xs-9" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
                                        <div class="features-content__item">
                                            <h2 class="features-content__item__count">06.</h2>
                                            <h5 class="features-content__item__heading">Daily email reports</h5>
                                            <p class="features-content__item__content">Create custom landing pages with<br
                                                class="d-none d-md-block"> Fastland that converts more visitors<br
                                                class="d-none d-md-block"> than any website.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endmacro %}