{% macro render(options) %}
    {% import "components/_newsletter.njk" as newsletterOne %}
    <div class="welcome-area welcome-area--l1 position-relative bg-default">
        <div class="container">
            <div class="row">
                <!-- Welcome content Area -->
                <div class="col-xl-6 col-lg-7 col-md-8 col-xs-11 order-2 order-lg-1" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
                    <div class="welcome-content welcome-content--l1">
                        <h1 class="welcome-content__title">
                        Stop waiting. Grow your<br>
                          <span class="text-highlight highlight-text d-inline-block"></span>
                        </h1>
                        <p class="welcome-content__descriptions">Create custom landing pages
                        with Fastland<br class="d-none d-xs-block"> that converts more visitors than any website.</p>
                        <!-- Newsletter -->
                        {{newsletterOne.render({
                        "newsletter_btn_class" : "btn-purple-heart btn btn--lg",
                        "placeHoldertext" : "Enter your email",
                        "btnTitle" : "Start For Free"             
                     })}}
                        <!--/ .Newsletter -->
                        <p class="welcome-content__terms-text">By clicking the button, you are agreeing with our <a
                            class="btn btn-link" href="/terms-page.html">Terms & Conditions.</a>
                        </p>
                    </div>
                </div>
                <!--/ .Welcome Content Area -->
                <!--Welcome Image Area -->
                <div class="col-xl-6 col-lg-5 col-md-10 order-1 order-lg-2 position-static">
                    <div class="welcome-image-group-wrapper">
                        <div class="welcome-image welcome-image--group-01">
                            <img src="./image/home-1/l1-hero-img-ipad.png" alt=""
                            class="welcome-image__single welcome-image--group-01__main">
                            <div class="welcome-image__single welcome-image--group-01__img-1">
                                <img class="w-100" src="./image/home-1/l1-hero-img-1.png" alt="">
                            </div>
                            <div class="welcome-image__single welcome-image--group-01__img-2">
                                <img class="w-100" src="./image/home-1/l1-hero-img-2.png" alt="">
                            </div>
                            <div class="welcome-image__single welcome-image--group-01__img-3">
                                <img class="w-100" src="./image/home-1/l1-hero-img-3.png" alt="">
                            </div>
                            <div class="welcome-image__single welcome-image--group-01__img-4">
                                <img class="w-100" src="./image/home-1/hero-dots.png" alt="">
                            </div>
                            <div class="welcome-image__single welcome-image--group-01__img-5">
                                <img class="w-100" src="./image/home-1/l1-hero-shape-1.png" alt="">
                            </div>
                            <div class="welcome-image__single welcome-image--group-01__img-6">
                                <img class="w-100" src="./image/home-1/l1-hero-shape-2.png" alt="">
                            </div>
                            <div class="welcome-image__single welcome-image--group-01__img-7">
                                <img class="w-100" src="./image/home-1/l1-hero-shape-3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ .Welcome Image Area -->
            </div>
        </div>
    </div>

{% endmacro %}