{% extends "template.njk" %}

{#
<!-- Page Section Import Here --> #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'components/footer/_footer-inner-1.njk' as footer%}

{% block main %}
<!-- Clean The Code And Hop in -->

<!-- Header Area -->
{{Header.render({
"hideMegamenu": false,
"additional_header_class": "site-header--menu-right mt-2 mb-4 mt-lg-0 mb-lg-0 bg-default",
"absolute_header": false,
"container_fluid": false,
"sticky_header": false,
"mobile_sticky": false,
"menu_wrapper_class" : "ms-5 menu-sep-right",
"header_button" : true,
"header_button_text" : "Purchase",
"header_button_class" : "btn btn-electric-violet-2 btn--header-inner rounded-50 text-white shadow--electric-violet-2-4
ms-2 d-none d-lg-block"

})}}
<!--/ .Header Area -->

<div class="error-page bg-default-3 border-bottom border-default-color-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-8 col-xs-10">
        <div class="error-page__image text-center">
          <img class="w-100" src="./image/png/404.png" alt="">
        </div>
        <div class="error-page__content text-center">
          <h1 class="error-page__code">404</h1>
          <h2 class="error-page__heading">Page not found</h2>
          <p class="error-page__text">The page you are looking for is not available or<br class="d-none d-xs-block"> doesn’t belong to this website!</p>
        </div>
        <div class="buttons mx-auto text-center">
          <a class="btn btn-readical-red shadow--torch-red-2  btn--medium-2 text-white rounded-50 m-2" href="#">Go back</a>
          <a class="btn btn-outline-readical-red btn--medium-3 rounded-50 m-2" href="#">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer Area -->
{{footer.render()}}
<!--/ .Footer Area -->

{% endblock %}