{% extends "template.njk" %}

{#
<!-- Page Section Import Here --> #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'sections/about-us/_page-title.njk' as pageTitle %}
{% import 'sections/about-us/_about-us.njk' as videoSection %}
{% import 'sections/about-us/_features-area.njk' as featureArea %}
{% import 'sections/about-us/_content-1.njk' as contentOne %}
{% import 'sections/about-us/_testimonial.njk' as testimonialSection %}
{% import 'sections/about-us/_promo.njk' as promoSection %}
{% import 'components/footer/_footer-inner-1.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
    "hideMegamenu": false,
    "additional_header_class": "site-header--menu-right mt-2 mb-4 mt-lg-0 mb-lg-0 bg-default",
    "absolute_header": false,
    "container_fluid": false,
    "sticky_header": false,
    "mobile_sticky": false,
    "menu_wrapper_class" : "ms-5 menu-sep-right",
    "header_button" : true,
    "header_button_text" : "Purchase",
    "header_button_class" : "btn btn-electric-violet-2 btn--header-inner rounded-50 text-white shadow--electric-violet-2-4 ms-2 d-none d-lg-block"

    })}}
  <!--/ .Header Area -->

<!-- Page Title Area -->
{{pageTitle.render()}}
<!--/ .Page Title Area -->

<!-- Video Area -->
{{videoSection.render()}}
<!--/ .Video Area -->

<!-- Services Area -->
{{featureArea.render()}}
<!--/ .Services Area -->

  <!-- Content One Area -->
  {{contentOne.render(
    {
      "contentThreedata" : [
        {
          "title" : "Our Customer",
          "content" : "Business advisory service advises current and future businesses prospects of a client, with the aim of"

        },
        {
          "title" : "Our Product",
          "content" : "Business advisory service advises current and future businesses prospects of a client, with the aim of"

        },
        {
          "title" : "Our Services",
          "content" : "Business advisory service advises current and future businesses prospects of a client, with the aim of"

        }

    ]
    }

  )}}
  <!--/ .Content One Area -->

  <!-- Testimonial Area -->
  {{testimonialSection.render({
     "testimonialTwoData" : [
      {      
        "image" : "./image/home-6/team-member-1.png", 
        "userName" : "Charles Patterson",       
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-6/team-member-2.png", 
        "userName" : "John Doe",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-6/team-member-3.png", 
        "userName" : "Tiana Dokidis",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-6/team-member-4.png", 
        "userName" : "Stephan Lawrence",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-6/team-member-3.png", 
        "userName" : "Stephan Lawrence",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      {
        "image" : "./image/home-6/team-member-5.png",       
        "userName" : "Talan Bergson",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "CEO, Greener"        
      }
    ]

  })}}
  <!--/ .Testimonial Area -->
  <!-- Footer Area -->
  {{promoSection.render()}}
  <!--/ .Footer Area -->
  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}