{% extends "template.njk" %}

{#
<!-- Page Section Import Here --> #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'sections/career/_page-title.njk' as pageTitle %}
{% import 'sections/career/_video-section.njk' as videoSection %}
{% import 'sections/career/_services-area.njk' as serVices %}
{% import 'sections/career/_promo.njk' as Promo %}
{% import 'sections/career/_jobs-card.njk' as Jobs %}
{% import 'components/footer/_footer-inner-1.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
    "hideMegamenu": false,
    "megamenuPosition" : "left menu-block-3",
    "additional_header_class": "site-header--menu-right mt-2 mb-4 mt-lg-0 mb-lg-0 bg-default",
   "absolute_header": false,
    "container_fluid": false,
    "sticky_header": false,
    "mobile_sticky": false,
    "menu_wrapper_class" : "ms-5 menu-sep-right",
    "header_button" : true,
    "header_button_text" : "Purchase",
    "header_button_class" : "btn btn-electric-violet-2 btn--header-inner rounded-50 text-white shadow--electric-violet-2-4 ms-2 d-none d-lg-block"

    })}}
  <!--/ .Header Area -->

<!-- Page Title Area -->
{{pageTitle.render()}}
<!--/ .Page Title Area -->

<!-- Video Area -->
{{videoSection.render()}}
<!--/ .Video Area -->

<!-- Services Area -->
{{serVices.render()}}
<!--/ .Services Area -->

<!-- Promo Area -->
{{Promo.render()}}
<!--/ .Promo Area -->

<!-- Jobs Area -->
{{Jobs.render()}}
<!--/ .Jobs Area -->

  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}