{% extends "template.njk" %}
{% import "components/_newsletter.njk" as newsletterOne %}

{#
<!-- Page Section Import Here --> #}

{% block main %}
<!-- Clean The Code And Hop in -->
<div class="coming-soon bg-default-3 vh-md-100 position-relative">
  <div class="container position-static vh-md-100">

    <div class="row align-items-center justify-content-center position-static vh-md-100">
      <div class="col-xl-6 col-lg-4 position-static vh-md-100 d-none d-lg-block">
        <div class="form-img position-absolute bg-image" style="background-image: url(./image/png/pattern-img-1.png)">
        </div>
      </div>
      <div class="col-xl-6 col-lg-8 col-md-10 text-center text-lg-end">
        <div class="section-title section-title--l3 mb-3 mb-lg-7">
          <h2 class="section-title__heading" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Fastland is coming soon<br class="d-none d-xs-block d-lg-none d-xxl-block"> with remarkable updates</h2>
          <p class="section-title__description" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300"
            data-aos-once="true">Our focus is always on finding the best people to work with. Our<br class="d-none d-md-block"> bar is high, but you look ready to take on the challenge..</p>
        </div>
        <!--Counter Bar -->
        <div class="countdown-bar" id="countdown">
          <ul class="list-unstyled d-flex align-items-center justify-content-between flex-wrap">
            <li>
              <h2 id="days"></h2>
              <p>days</p>
            </li>
            <li>
              <h2 id="hours"></h2>
              <p>Hours</p>
            </li>
            <li>
              <h2 id="minutes"></h2>
              <p>Minutes</p>
            </li>
            <li>
              <h2 id="seconds"></h2>
              <p>Seconds</p>
            </li>
          </ul>
        </div>
        <!--/ .Counter Bar -->
        <!-- Newsletter -->
        <div class="counterup__newsletter" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500"
          data-aos-once="true">
          <p class="counterup__newsletter__offer">Get notified on product launch!</p>
          {{newsletterOne.render({
          "additional_class" : "mx-auto newsletter-form--countdown",
          "newsletter_additional_class" : "rounded-55",
          "newsletter_btn_class" : "btn btn-primary shadow--primary-4 text-white btn--medium rounded-55",
          "placeHoldertext" : "Enter your email",
          "btnTitle" : "Subscribe"
          })}}
        </div>

        <!--/ .Newsletter -->
      </div>
    </div>
  </div>
</div>

<script src="./plugins/count-down/count-down.js"></script>
{% endblock %}