{% extends "template.njk" %}

{# <!-- Page Section Import Here -->  #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'sections/home-8/_hero.njk' as heroOne %}
{% import 'sections/home-8/_services-area.njk' as serVices %}
{% import 'sections/home-8/_services-area-2.njk' as serVicesTwo %}
{% import 'sections/home-8/_about-us.njk' as aboutUs %}
{% import 'sections/home-8/_content-1.njk' as contentOne %}
{% import 'sections/home-8/_portfolio.njk' as portFolios %}
{% import 'sections/home-8/_testimonial.njk' as testimonialSection %}
{% import 'sections/home-8/_blogs.njk' as blogs %}
{% import 'sections/home-8/_promo.njk' as promo %}
{% import 'components/footer/_footer-8.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->
  <!-- Header Area -->
  {{Header.render({
    "hideMegamenu": false,
    "megamenuPosition" : "left",
    "additional_header_class": "site-header--menu-left mt-lg-0 mb-lg-0 dynamic-sticky-bg",
   "absolute_header": false,
  "container_fluid": false,
  "sticky_header": false,
    "mobile_sticky": false,
    "menu_wrapper_class" : "ms-5 menu-sep-left",
    "header_button" : true,
    "header_button_text" : "Purchase",
    "header_button_class": "btn btn-electric-violet-2 rounded-50 ms-lg-2 shadow--electric-violet-2-4 text-white  ms-auto d-none d-sm-flex",
    "header_button_custom" : "<ul class=\"menu-social-share menu-social-share--l9 d-none d-xl-block menu-sep-right pe-1 list-unstyled\">
      <li><a href='#'><i class=\"fab fa-instagram\"></i></a></li>
      <li><a href='#'><i class=\"fab fa-linkedin\"></i></a></li>
      <li><a href='#'><i class=\"fab fa-facebook\"></i></a></li>
      <li><a href='#'><i class=\"fab fa-twitter\"></i></a></li>
    </ul>"

    })}}
  <!--/ .Header Area -->
  <!-- Hero Area -->
  {{heroOne.render()}}
  <!--/ .Hero Area -->

  <!-- Services Area -->

  {{serVices.render({
     "servicesCardThreedata" : [
      {   
        "color" : "electric-violet-3",
        "icon" : "fas fa-layer-group",       
        "heading" : "Market Forecast",       
        "text" : "There are many variations passages of Lorem lpsum available but the majority have suffered"       
      },
      {   
        "color" : "readical-red",
        "icon" : "fas fa-bell",       
        "heading" : "Strategic planning",       
        "text" : "majority have suffered alteration in words which don’t look even have slightly randomised"          
      },
      {   
        "color" : "java-2",
        "icon" : "fas fa-envelope",       
        "heading" : "Budget Accounting",       
        "text" : "There are many variations passages of Lorem lpsum available but the majority have suffered"          
      },
      {   
        "color" : "yellow-3",
        "icon" : "fas fa-chart-pie",       
        "heading" : "Target Marketing",       
        "text" : "There are many variations passages of Lorem lpsum available but the majority have suffered"          
      }
      
    ] 

  })}}
  <!--/ .Services Area -->

  <!-- Services Two Area -->
  {{serVicesTwo.render()}}
  <!--/ .Services Two Area -->

  <!-- About Us Area -->
  {{aboutUs.render()}}
  <!--/ .About Us Area -->

  <!-- Content One Area -->
  {{contentOne.render({
    "contentWidgetsData" : [
      {
        "additional_classes" : "active",
        "color" : "electric-violet-2",
        "counter" : "1",
        "title" : "Case Analysis"
      },
      {
        "color" : "electric-violet-2",
        "counter" : "2",
        "title" : "Strategic Advice"
      },
      {
        "color" : "electric-violet-2",
        "counter" : "3",
        "title" : "Insight Implementation"
      }

    ]

  })}}
  <!--/ .Content One Area -->

  <!-- Port Area -->
  {{portFolios.render()}}
  <!--/ .Footer Area -->

  <!-- Testimonial Area -->
  {{testimonialSection.render({
     "testimonialData" : [
      {      
        "image" : "./image/home-4/user-img-1.png", 
        "userName" : "Charles Patterson",       
        "description":"There are many variations passages of Lorem lpsum form, by injected or randomised words which slightiy believable.",
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-1.png", 
        "userName" : "John Doe",
        "description":"There are many variations passages of Lorem lpsum form, by injected or randomised words which slightiy believable.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-2.png", 
        "userName" : "Tiana Dokidis",
        "description":"There are many variations passages of Lorem lpsum form, by injected or randomised words which slightiy believable.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-3.png", 
        "userName" : "Tiana Dokidis",
        "description":"There are many variations passages of Lorem lpsum form, by injected or randomised words which slightiy believable.",       
        "userPosition" : "One year with us"        
      },
      {
        "image" : "./image/home-3/user-circle-1.png",       
        "userName" : "Talan Bergson",
        "description":"There are many variations passages of Lorem lpsum form, by injected or randomised words which slightiy believable.",       
        "userPosition" : "CEO, Greener"        
      }
    ]

  })}}
  <!--/ .Testimonial Area -->

  <!-- Blogs Area -->
  {{blogs.render({
     "blogsData" : [
      {      
        "bgImage" : "./image/home-8/blogs-img-1.png",       
        "badgeColor" : "yellow",       
        "badge" : "Gadgets",       
        "blgoTitle" : "We can blend colors multiple<br class='d-none d-xs-block'> ways, the most common"       
      },
      {      
        "bgImage" : "./image/home-8/blogs-img-2.png",       
        "badgeColor" : "yellow",       
        "badge" : "Gadgets",       
        "blgoTitle" : "We can blend colors multiple<br class='d-none d-xs-block'> ways, the most common"       
      },
      {      
        "bgImage" : "./image/home-8/blogs-img-3.png",       
        "badgeColor" : "yellow",       
        "badge" : "Gadgets",       
        "blgoTitle" : "We can blend colors multiple <br class='d-none d-xs-block'> ways, the most common"       
      }
    ]
  })}}
  <!--/ .Blogs Area -->

  <!-- Promo Area -->
  {{promo.render()}}
  <!--/ .Promo Area -->

  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}