{% extends "template.njk" %}

{# <!-- Page Section Import Here -->  #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'sections/home-5/_hero.njk' as heroOne %}
{% import 'sections/home-5/_services-area.njk' as serVices %}
{% import 'sections/home-5/_content-1.njk' as contentOne %}
{% import 'sections/home-5/_about-us.njk' as aboutUs %}
{% import 'sections/home-5/_pricing-table.njk' as pricingTable %}
{% import 'sections/home-5/_testimonial.njk' as testimonialSection %}
{% import 'sections/home-5/_promo.njk' as promo %}
{% import 'components/footer/_footer-5.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
"hideMegamenu": false,
"megamenuPosition" : "left menu-block-3",
"additional_header_class": "site-header--menu-right dynamic-sticky-bg dark-mode-texts mt-3 mt-lg-0",
"absolute_header": true,
"container_fluid": false,
"sticky_header": true,
"mobile_sticky": false,
"menu_wrapper_class" : "ms-4 dark-mode-texts",
"header_double_button": false,
"header_button": true,
"header_button_text": "Purchase",
"header_button_class": "btn btn-electric-violet-2 text-white rounded-50 ms-lg-2 shadow--electric-violet-2-4 ms-auto d-none d-sm-flex"
})}}
  <!--/ .Header Area -->

  <!-- Hero Area -->
  {{heroOne.render()}}
  <!--/ .Hero Area -->

  <!-- Services Area -->

  {{serVices.render({
     "servicesCardTwodata" : [
      {   
        "color" : "readical-red",
        "icon" : "fas fa-bell",       
        "heading" : "Team Accounts"       
      },
      {   
        "color" : "yellow",
        "icon" : "fas fa-chart-pie",       
        "heading" : "API Reference"       
      },
      {   
        "color" : "primary",
        "icon" : "fas fa-headphones",       
        "heading" : "Customer Support"       
      },
      {   
        "color" : "java-2",
        "icon" : "fas fa-envelope",       
        "heading" : "Email Marketing"       
      },
      {   
        "color" : "electric-violet-3",
        "icon" : "fas fa-layer-group",       
        "heading" : "Digital Agency"       
      }
    ] 

  })}}
  <!--/ .Services Area -->

  <!-- Feature Area -->
  {{aboutUs.render()}}
  <!--/ .Feature Area -->

  <!-- Content One Area -->
  {{contentOne.render(
    {
      "contentThreedata" : [
        {
          "title" : "Our Customer",
          "content" : "Business advisory service advises current and future businesses prospects of a client, with the aim of"

        },
        {
          "title" : "Our Product",
          "content" : "Business advisory service advises current and future businesses prospects of a client, with the aim of"

        },
        {
          "title" : "Our Services",
          "content" : "Business advisory service advises current and future businesses prospects of a client, with the aim of"

        }

    ]
    }

  )}}
  <!--/ .Content One Area -->

  <!-- Pricing Table Area -->
  {{pricingTable.render()}}
  <!--/ .Pricing Table Area -->

  <!-- Testimonial Area -->
  {{testimonialSection.render({
    "testimonialTwoData" : [
      {      
        "image" : "./image/home-5/customer-img-1.png", 
        "userName" : "Jonathon Tyler",       
        "description":"OMG! I cannot believe that I have got a brand new landing page after getting @Fastland!",
        "userPosition" : "CEO at Creativex"        
      },
      { 
        "image" : "./image/home-5/customer-img-2.png", 
        "userName" : "Angela Park",
        "description":"@Fastland is great for creating landing pages within minutes! It actually takes less time.",       
        "userPosition" : "CEO at Orbital"        
      },
      { 
        "image" : "./image/home-5/customer-img-3.png", 
        "userName" : "Gavin Brendon",
        "description":"Whenever I need to create a new landing page for clients, @Fastland is my solution...!",       
        "userPosition" : "Freelance Designer"        
      }
    ]

  })}}
  <!--/ .Testimonial Area -->

  <!-- promo Area -->
  {{promo.render()}}
  <!--/ .promo Area -->

  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}