{% extends "template.njk" %}

{# <!-- Page Section Import Here -->  #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'sections/home-7/_hero.njk' as heroOne %}
{% import 'sections/home-7/_services-area.njk' as serVices %}
{% import 'sections/home-7/_about-us.njk' as aboutUs %}
{% import 'sections/home-7/_content-1.njk' as contentOne %}
{% import 'sections/home-7/_pricing-table.njk' as pricingTable %}
{% import 'sections/home-7/_testimonial.njk' as testimonialSection %}
{% import 'sections/home-7/_promo.njk' as promo %}
{% import 'sections/home-7/_cta.njk' as ctaSection %}
{% import 'components/footer/_footer-inner-2.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
"hideMegamenu": false,
"megamenuPosition" : "center",
"additional_header_class": "site-header--menu-right menu-block-5 dynamic-sticky-bg mt-3 mt-lg-0",
"absolute_header": true,
"container_fluid": false,
"sticky_header": true,
"mobile_sticky": false,
"menu_wrapper_class" : "ms-4",
"header_button" : true,
"header_button_text" : "Free SEO Analysis",
"header_button_class" : "btn btn-niagara btn--medium-4 h-45 rounded-50 text-white shadow--niagara-3 ms-auto ms-lg-4 d-none d-sm-flex"

})}}
  <!--/ .Header Area -->

  <!-- Hero Area -->
  {{heroOne.render()}}
  <!--/ .Hero Area -->

  <!-- Services Area -->

  {{serVices.render({
     "servicesCardThreedata" : [
      {   
        "color" : "bittersweet",
        "icon" : "fas fa-bell",       
        "heading" : "Team Accounts"       
      },
      {   
        "color" : "niagara",
        "icon" : "fas fa-layer-group",       
        "heading" : "Digital Agency"       
      },
      {   
        "color" : "coral",
        "icon" : "fas fa-envelope",       
        "heading" : "Email Marketing"       
      },
      {   
        "color" : "lavender",
        "icon" : "fas fa-chart-pie",       
        "heading" : "API Reference"       
      }
      
    ] 

  })}}
  <!--/ .Services Area -->

  <!-- About Us Area -->
  {{aboutUs.render(
    {
      "aboutdataOne" : 
      [
        {
          "icon" : "fa fa-layer-group",
          "title" : "Optimal Choice",
          "text" : "The White iphone  smartphone mockup counterclockwise "

        },
        {
          "icon" : "fa fa-chart-pie",
          "title" : "Financial advice",
          "text" : "The White iphone  smartphone mockup counterclockwise "

        },
        {
          "icon" : "fa fa-cog",
          "title" : "Innovative solutions",
          "text" : "The White iphone  smartphone mockup counterclockwise "

        }

      ],

      "aboutdataTwo" : 
      [
        {
          "icon" : "fa fa-bookmark",
          "title" : "Optimal Choice",
          "text" : "The White iphone  smartphone mockup counterclockwise "

        },
        {
          "icon" : "fa fa-headphones",
          "title" : "Business strategy",
          "text" : "The White iphone  smartphone mockup counterclockwise "

        },
        {
          "icon" : "fa fa-bell",
          "title" : "Marketing outline",
          "text" : "The White iphone  smartphone mockup counterclockwise "

        }

      ]
    }

  )}}
  <!--/ .About Us Area -->

  <!-- Content One Area -->
  {{contentOne.render({
    "contentWidgetData" : [
      {
        "color" : "niagara",
        "icon" : "far fa-envelope",
        "title" : "Minimal  Design"
      },
      {
        "color" : "niagara",
        "icon" : "fa fa-layer-group",
        "title" : "Best Material"
      }

    ]

  })}}
  <!--/ .Content One Area -->

  <!-- Pricing Table Area -->
  {{pricingTable.render()}}
  <!--/ .Pricing Table Area -->

  <!-- Testimonial Area -->
  {{testimonialSection.render({
     "testimonialTwoData" : [
      {      
        "image" : "./image/home-4/user-img-1.png", 
        "userName" : "Charles Patterson",       
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-1.png", 
        "userName" : "John Doe",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-2.png", 
        "userName" : "Tiana Dokidis",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-3.png", 
        "userName" : "Tiana Dokidis",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      {
        "image" : "./image/home-3/user-circle-1.png",       
        "userName" : "Talan Bergson",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "CEO, Greener"        
      }
    ]

  })}}
  <!--/ .Testimonial Area -->

  <!-- promo Area -->
  {{promo.render()}}
  <!--/ .promo Area -->

  <!-- CTA Area -->
  {{ctaSection.render()}}
  <!--/ .CTA Area -->

  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}