{% extends "template.njk" %}

{# <!-- Page Section Import Here -->  #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'sections/home-1/_hero.njk' as heroOne %}
{% import 'sections/home-1/_services-area.njk' as serVices %}
{% import 'sections/home-1/_features-area.njk' as featuresArea %}
{% import 'sections/home-1/_content-1.njk' as contentOne %}
{% import 'sections/home-1/_content-2.njk' as contentTwo %}
{% import 'sections/home-1/_testimonial.njk' as testimonialSection %}
{% import 'sections/home-1/_counter-area.njk' as counterSection %}
{% import 'components/footer/_footer-1.njk' as footerOne %}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
    "hideMegamenu": false,
        "additional_header_class": "site-header--menu-left dynamic-sticky-bg px-3",
        "absolute_header": true,
        "container_fluid": true,
        "sticky_header": true,
        "mobile_sticky": false,
        "menu_wrapper_class": "ms-lg-7",
        "header_double_button": true,
        "header_button_class_1": "btn-link heading-default-color-2 me-4",
        "header_button_text_1": "Login",
        "header_button_class_2": "btn btn-header-btns btn-link-water btn--medium-2 h-45 text-shark rounded-5 ms-1",
        "header_button_text_2": "Get Started",
        "additional_db_classes": "ms-auto ms-lg-0 d-none d-sm-flex align-items-center"

      })}}
  <!--/ .Header Area -->

  <!-- Hero Area -->
  {{heroOne.render()}}
  <!--/ .Hero Area -->

  <!-- Services Area -->
  {{serVices.render({
    "serviceData" : [
      {
        "shapeColor" : "golden-tainoi",       
        "image" : "./image/svg/athletics.svg",       
        "heading" : "Manage Smartly"       
      },
      {
        "shapeColor" : "ice-cold",
        "image" : "./image/svg/archery-target.svg",       
        "heading" : "Communicate Fast"      
      },
      {
        "shapeColor" : "anakiwaap",
        "image" : "./image/svg/money-coins.svg",       
        "heading" : "Influence Easily"    
      }
    ]

  })}}
  <!--/ .Services Area -->

  <!-- Feature Area -->
  {{featuresArea.render({
    "serviceData" : [
      {
        "image" : "./image/home-1/l1-services-icon-1.png",       
        "heading" : "Manage Smartly",       
        "content" : "Stay on top of your task lists and stay in touch with what's happening"        
      },
      {
        "image" : "./image/home-1/l1-services-icon-2.png",       
        "heading" : "Communicate Fast",       
        "content" : "Stay on top of your task lists and stay in touch with what's happening"        
      },
      {
        "image" : "./image/home-1/l1-services-icon-3.png",       
        "heading" : "Influence Easily",       
        "content" : "Stay on top of your task lists and stay in touch with what's happening"        
      }
    ]

  })}}
  <!--/ .Feature Area -->

  <!-- Content One Area -->
  {{contentOne.render()}}
  <!--/ .Content One Area -->

  <!-- Content Two Area -->
  {{contentTwo.render()}}
  <!--/ .Content Two Area -->

  <!-- Testimonial Area -->
  {{testimonialSection.render({
    "testimonialData" : [
      {
        "reviewStar" : "./image/home-1/review-star.png",
        "image" : "./image/home-1/user-1.png",       
        "userName" : "John Doe",       
        "userCat" : "Product Designer"        
      },
      {
        "reviewStar" : "./image/home-1/review-star.png",
        "image" : "./image/home-1/user-2.png",       
        "userName" : "Tiana Dokidis",       
        "userCat" : "CMO, Dotcorn"        
      },
      {
        "reviewStar" : "./image/home-1/review-star.png",
        "image" : "./image/home-1/user-3.png",       
        "userName" : "Talan Bergson",       
        "userCat" : "CEO, Greener"        
      }
    ]

  })}}
  <!--/ .Testimonial Area -->

  <!-- Counter Area -->
  {{counterSection.render()}}
  <!--/ .Counter Area -->

  <!-- Footer Area -->
  {{footerOne.render()}}
  <!--/ .Footer Area -->
<script src="./plugins/type-js/typed.min.js"></script>
<script>
  var typed = new Typed('.highlight-text', {
    strings: ["business.", "agency."],
      typeSpeed: 80,
      backSpeed: 80,
      cursorChar: '',
      shuffle: true,
      smartBackspace: false,
      loop: true
  });
</script>
{% endblock %}