{% extends "template.njk" %}

{# <!-- Page Section Import Here -->  #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'sections/home-2/_hero.njk' as heroTwo %}
{% import 'sections/home-2/_features-area.njk' as featuresArea %}
{% import 'sections/home-2/_content-1.njk' as contentOne %}
{% import 'sections/home-2/_content-2.njk' as contentTwo %}
{% import 'sections/home-2/_brand-logo.njk' as brandLogo %}
{% import 'sections/home-2/_cta-section.njk' as CTA %}
{% import 'components/footer/_footer-2.njk' as footerTwo %}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
    "hideMegamenu": false,
    "megamenuPosition" : "center",
    "additional_header_class": "site-header--menu-left dynamic-sticky-bg mt-2 mt-lg-0 menu-block-4 mb-7 mb-lg-0",
    "absolute_header": true,
    "container_fluid": false,
    "sticky_header": true,
    "mobile_sticky": false,
    "header_double_button": true,
    "header_button_class_1": "btn-link heading-default-color-2 transition-4s me-3",
    "header_button_text_1": "Login",
    "header_button_class_2": "btn btn--xxl h-45 btn-primary text-white rounded-55",
    "header_button_text_2": "Get Started For Free",
    "additional_db_classes": "ms-auto ms-lg-0 d-none d-sm-flex align-items-center heading-default-color"

      })}}
  <!--/ .Header Area -->

  <!-- Hero Area -->
  {{heroTwo.render()}}
  <!--/ .Hero Area -->

  <!-- Features Area -->
  {{featuresArea.render()}}
  <!--/ .Features Area -->

  <!-- Content One Area -->
  {{contentOne.render()}}
  <!--/ .Content One Area -->

  <!-- Content Two Area -->
  {{contentTwo.render()}}
  <!--/ .Content Two Area -->

  <!-- Brand Logo Area -->
  {{brandLogo.render()}}
  <!--/ .Brand Logo Two Area -->

  <!-- Cta Area -->
  {{CTA.render()}}
  <!--/ .Cta Area -->

  <!-- Footer Area -->
  {{footerTwo.render()}}
  <!--/ .Footer Area -->

{% endblock %}