{% extends "template.njk" %}

{#
<!-- Page Section Import Here --> #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'components/footer/_footer-inner-1.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
"hideMegamenu": false,
"megamenuPosition" : "left menu-block-3",
"additional_header_class": "site-header--menu-right mt-2 mb-4 mt-lg-0 mb-lg-0 bg-default",
"absolute_header": false,
"container_fluid": false,
"sticky_header": false,
"mobile_sticky": false,
"menu_wrapper_class" : "ms-5 menu-sep-right",
"header_button" : true,
"header_button_text" : "Purchase",
"header_button_class" : "btn btn-electric-violet-2 btn--header-inner rounded-50 text-white shadow--electric-violet-2-4
ms-2 d-none d-lg-block"

})}}
  <!--/ .Header Area -->
    <div class="page-title-content text-center bg-default-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7">
          <h2 class="page-title-content__heading">Portfolio Style 09</h2>
          <p class="page-title-content__text">Our focus is always on finding the best people to work with. Our<br class="d-none d-xs-block d-sm-none d-md-block"> bar is
                        high, but you look ready to take on the challenge. </p>
        </div>
      </div>
    </div>
    <div class="shape">
      <img class="w-100" src="./image/png/inner-banner-shape.png" alt="">
    </div>
  </div>
  
  <div class="portfolio-area portfolio-area--inner-1 bg-default-3 border-bottom border-default-color-3 pt-0">
    <div class="container-fluid">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <div class="col-md-12 col-xs-10">
          <div class="grid grid--l6 position-relative">
            <!-- Single Grid -->
            <div class="grid-item grid--3__single--no-gap no-gap customer-support development customer-support">
              <a href="/portfolio-details-3.html" class="portfolio__single no-gap ">
                <img class="w-100" src="./image/jpg/portfolio-full-img-1.jpg" alt="">
                <div
                                class="portfolio__hover bg-readical-red dark-mode-texts d-xs-flex align-items-center justify-content-between">
                  <div class="hover-content">
                    <h3 class="portfolio__hover__heading">Agency Brand guide & Development</h3>
                    <p class="portfolio__hover__text">UX and UI, Design, Development</p>
                  </div>
                  <div class="hover-right">
                    <div class="portfolio__hover__link text-white">
                      <i class="fas fa-external-link-square-alt"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
             <!--/ .Single Grid -->
            <!-- Single Grid -->
            <div class="grid-item grid--3__single--no-gap no-gap  customer-support development marketing design">
              <a href="/portfolio-details-3.html" class="portfolio__single no-gap ">
                <img class="w-100" src="./image/jpg/portfolio-full-img-2.jpg" alt="">
                <div
                                class="portfolio__hover bg-readical-red dark-mode-texts d-xs-flex align-items-center justify-content-between">
                  <div class="hover-content">
                    <h3 class="portfolio__hover__heading">Agency Brand guide & Development</h3>
                    <p class="portfolio__hover__text">UX and UI, Design, Development</p>
                  </div>
                  <div class="hover-right">
                    <div class="portfolio__hover__link text-white">
                      <i class="fas fa-external-link-square-alt"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
             <!--/ .Single Grid -->
            <!-- Single Grid -->
            <div class="grid-item grid--3__single--no-gap no-gap  customer-support development design">
              <a href="/portfolio-details-3.html" class="portfolio__single no-gap ">
                <img class="w-100" src="./image/jpg/portfolio-full-img-8.jpg" alt="">
                <div
                                class="portfolio__hover bg-readical-red dark-mode-texts d-xs-flex align-items-center justify-content-between">
                  <div class="hover-content">
                    <h3 class="portfolio__hover__heading">Agency Brand guide & Development</h3>
                    <p class="portfolio__hover__text">UX and UI, Design, Development</p>
                  </div>
                  <div class="hover-right">
                    <div class="portfolio__hover__link text-white">
                      <i class="fas fa-external-link-square-alt"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
             <!--/ .Single Grid -->
            <!-- Single Grid -->
            <div class="grid-item grid--3__single--no-gap no-gap  customer-support development design">
              <a href="/portfolio-details-3.html" class="portfolio__single no-gap ">
                <img class="w-100" src="./image/jpg/portfolio-full-img-4.jpg" alt="">
                <div
                                class="portfolio__hover bg-readical-red dark-mode-texts d-xs-flex align-items-center justify-content-between">
                  <div class="hover-content">
                    <h3 class="portfolio__hover__heading">Agency Brand guide & Development</h3>
                    <p class="portfolio__hover__text">UX and UI, Design, Development</p>
                  </div>
                  <div class="hover-right">
                    <div class="portfolio__hover__link text-white">
                      <i class="fas fa-external-link-square-alt"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
             <!--/ .Single Grid -->
            <!-- Single Grid -->
            <div class="grid-item grid--3__single--no-gap no-gap  customer-support development design">
              <a href="/portfolio-details-3.html" class="portfolio__single no-gap ">
                <img class="w-100" src="./image/jpg/portfolio-full-img-3.jpg" alt="">
                <div
                                class="portfolio__hover bg-readical-red dark-mode-texts d-xs-flex align-items-center justify-content-between">
                  <div class="hover-content">
                    <h3 class="portfolio__hover__heading">Agency Brand guide & Development</h3>
                    <p class="portfolio__hover__text">UX and UI, Design, Development</p>
                  </div>
                  <div class="hover-right">
                    <div class="portfolio__hover__link text-white">
                      <i class="fas fa-external-link-square-alt"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
             <!--/ .Single Grid -->
            <!-- Single Grid -->
            <div class="grid-item grid--3__single--no-gap no-gap  customer-support development design">
              <a href="/portfolio-details-3.html" class="portfolio__single no-gap ">
                <img class="w-100" src="./image/jpg/portfolio-full-img-5.jpg" alt="">
                <div
                                class="portfolio__hover bg-readical-red dark-mode-texts d-xs-flex align-items-center justify-content-between">
                  <div class="hover-content">
                    <h3 class="portfolio__hover__heading">Agency Brand guide & Development</h3>
                    <p class="portfolio__hover__text">UX and UI, Design, Development</p>
                  </div>
                  <div class="hover-right">
                    <div class="portfolio__hover__link text-white">
                      <i class="fas fa-external-link-square-alt"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
             <!--/ .Single Grid -->
          </div>
        </div>
      </div>
      <div class="buttons text-center mt-lg-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500"
      data-aos-once="true">
        <a class="btn btn-primary shadow--primary-4 btn--lg-2 rounded-55 text-white mt-3" href="#">Load More</a>
      </div>
    </div>
  </div>

  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}