{% extends "template.njk" %}

{# <!-- Page Section Import Here -->  #}
{% import 'components/Header/_header.njk' as Header %}

{% import 'sections/innerpage/_pricing-table.njk' as pricingTable %}
{% import 'sections/home-4/_testimonial.njk' as testimonialSection %}
{% import 'components/footer/_footer-inner-1.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
"hideMegamenu": false,
"megamenuPosition" : "left menu-block-3",
"additional_header_class": "site-header--menu-right mt-2 mb-4 mt-lg-0 mb-lg-0 bg-default",
"absolute_header": false,
"container_fluid": false,
"sticky_header": false,
"mobile_sticky": false,
"menu_wrapper_class" : "ms-5 menu-sep-right",
"header_button" : true,
"header_button_text" : "Purchase",
"header_button_class" : "btn btn-electric-violet-2 btn--header-inner rounded-50 text-white shadow--electric-violet-2-4
ms-2 d-none d-lg-block"

})}}
  <!--/ .Header Area -->

  <!-- Pricing Table Area -->
  {{pricingTable.TableOne()}}
  <!--/ .Pricing Table Area -->

  <!-- Testimonial Area -->
  {{testimonialSection.render({
    "testimonialTwoData" : [
      {      
        "image" : "./image/home-4/user-img-1.png", 
        "userName" : "Charles Patterson",       
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-1.png", 
        "userName" : "John Doe",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-2.png", 
        "userName" : "Tiana Dokidis",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      { 
        "image" : "./image/home-3/user-circle-3.png", 
        "userName" : "Tiana Dokidis",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "One year with us"        
      },
      {
        "image" : "./image/home-3/user-circle-1.png",       
        "userName" : "Talan Bergson",
        "description":"consetetur sadipscing elltr, sed dlam nonumy elrmod tempor invidunt ut labore et dolore magna allquyam erat, sed dlam voluptua.",       
        "userPosition" : "CEO, Greener"        
      }
    ]

  })}}
  <!--/ .Testimonial Area -->
  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}