{% extends "template.njk" %}

{#
<!-- Page Section Import Here --> #}
{% import 'components/Header/_header.njk' as Header %}
{% import 'sections/service/_page-title.njk' as pageTitle %}
{% import 'sections/service/_features-area.njk' as featureArea %}
{% import 'sections/service/_services.njk' as serVices %}
{% import 'sections/service/_promo.njk' as promoSection %}
{% import 'components/footer/_footer-inner-1.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->

  <!-- Header Area -->
  {{Header.render({
    "hideMegamenu": false,
"megamenuPosition" : "left menu-block-3",
    "additional_header_class": "site-header--menu-right mt-2 mb-4 mt-lg-0 mb-lg-0 bg-default",
   "absolute_header": false,
"container_fluid": false,
"sticky_header": false,
    "mobile_sticky": false,
    "menu_wrapper_class" : "ms-5 menu-sep-right",
    "header_button" : true,
    "header_button_text" : "Purchase",
    "header_button_class" : "btn btn-electric-violet-2 btn--header-inner rounded-50 text-white shadow--electric-violet-2-4 ms-2 d-none d-lg-block"

    })}}
  <!--/ .Header Area -->

<!-- Page Title Area -->
{{pageTitle.render()}}
<!--/ .Page Title Area -->

<!-- Services Area -->
{{featureArea.render()}}
<!--/ .Services Area -->

  <!-- Services Area -->

  {{serVices.render({
     "servicesCardTwodata" : [
      {   
        "color" : "readical-red",
        "icon" : "fas fa-bell",       
        "heading" : "Team Accounts"       
      },
      {   
        "color" : "yellow",
        "icon" : "fas fa-chart-pie",       
        "heading" : "API Reference"       
      },
      {   
        "color" : "primary",
        "icon" : "fas fa-headphones",       
        "heading" : "Customer Support"       
      },
      {   
        "color" : "java-2",
        "icon" : "fas fa-envelope",       
        "heading" : "Email Marketing"       
      },
      {   
        "color" : "electric-violet-3",
        "icon" : "fas fa-layer-group",       
        "heading" : "Digital Agency"       
      }
    ] 

  })}}
  <!--/ .Services Area -->


  <!-- promoSection Area -->
  {{promoSection.render()}}
  <!--/ .promoSection Area -->

  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}