{% extends "template.njk" %}

{# <!-- Page Section Import Here -->  #}
{% import 'components/Header/_header.njk' as Header %}
{% import "sections/innerpage/_testimonial.njk" as testiMonials %}
{% import 'components/footer/_footer-inner-1.njk' as footer%}

{% block main %}
  <!-- Clean The Code And Hop in -->
  <!-- Header Area -->
  {{Header.render({
  "hideMegamenu": false,
  "megamenuPosition" : "left menu-block-3",
  "additional_header_class": "site-header--menu-right mt-2 mb-4 mt-lg-0 mb-lg-0 bg-default",
  "absolute_header": false,
  "container_fluid": false,
  "sticky_header": false,
  "mobile_sticky": false,
  "menu_wrapper_class" : "ms-5 menu-sep-right",
  "header_button" : true,
  "header_button_text" : "Purchase",
  "header_button_class" : "btn btn-electric-violet-2 btn--header-inner rounded-50 text-white shadow--electric-violet-2-4
  ms-2 d-none d-lg-block"

  })}}
    <!--/ .Header Area -->
  <!-- Testimonial Area -->
  {{testiMonials.TestimonialOne({
    "testimonialData" : [
      {      
        "image" : "./image/home-3/user-circle-1.png", 
        "userName" : "Gary Simon",       
        "description":"There are many variations passages of Lorem lpsum available, but the majority have suffered alteration in some form, by injected or randomised.",
        "userPosition" : "Sholl’s Colonial Cafeteria"        
      },
      { 
        "image" : "./image/home-3/user-circle-2.png", 
        "userName" : "Karla Lynn",
        "description":"There are many variations passages of Lorem lpsum available, but the majority have suffered alteration in some form, by injected or randomised.",       
        "userPosition" : "Sholl’s Colonial Cafeteria"        
      },
      { 
        "image" : "./image/home-3/user-circle-3.png", 
        "userName" : "Stella Jennifer",
        "description":"There are many variations passages of Lorem lpsum available, but the majority have suffered alteration in some form, by injected or randomised.",       
        "userPosition" : "Sholl’s Colonial Cafeteria"        
      },
      { 
        "image" : "./image/home-3/user-circle-4.png", 
        "userName" : "Gary Simon",       
        "description":"There are many variations passages of Lorem lpsum available, but the majority have suffered alteration in some form, by injected or randomised.",
        "userPosition" : "Sholl’s Colonial Cafeteria"        
      },
      { 
        "image" : "./image/home-3/user-circle-5.png", 
        "userName" : "Karla Lynn",
        "description":"There are many variations passages of Lorem lpsum available, but the majority have suffered alteration in some form, by injected or randomised.",       
        "userPosition" : "Sholl’s Colonial Cafeteria"        
      },
      { 
        "image" : "./image/home-3/user-circle-6.png", 
        "userName" : "Stella Jennifer",
        "description":"There are many variations passages of Lorem lpsum available, but the majority have suffered alteration in some form, by injected or randomised.",       
        "userPosition" : "Sholl’s Colonial Cafeteria"        
      }
    ]

  })}}
  <!--/ .Testimonial Area -->

  <!-- Footer Area -->
  {{footer.render()}}
  <!--/ .Footer Area -->

{% endblock %}