{% macro render(options) %}
{% import "components/Cards/cards.njk" as Card %}
<div class="testimonial-section testimonial-section--l3 bg-default-3{{options.classes}}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-9 col-xxl-7">
                <div class="section-title section-title--l3 text-center">
                    <h6 class="section-title__sub-heading" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Testimonial</h6>
                    <h2 class="section-title__heading mb-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">We Care About Our Customers Experience Too</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center testimonial-mobile-slider--l3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400" data-aos-once="true">
            {% for data in options.testimonialData %}
            <div class="col-lg-4 col-md-12">
                    {{Card.testimonial(
                        {
                        "image"    : data.image, 
                        "userName" : data.userName, 
                        "userPosition" : data.userPosition,
                        "description":data.description
                        }
                    )}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}