{% macro render(options) %}
    <div class="page-title-content text-center bg-default-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <h2 class="page-title-content__heading">Career with Fastland</h2>
                    <p class="page-title-content__text">Our focus is always on finding the best people to work with. Our<br class="d-none d-xs-block d-sm-none d-md-block"> bar is
                        high, but you look ready to take on the challenge. </p>
                </div>
            </div>
        </div>
         <div class="shape">
            <img class="w-100" src="./image/png/inner-banner-shape.png" alt="">
        </div>
    </div>
{% endmacro %}