{% macro render(args) %}
    <div class="promo-area promo-area--inner-2 bg-default">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="pormo--l4-content pormo--l7 dark-mode-texts">
                        <div class="section-title section-title--l7 text-center">
                            <h2 class="section-title__heading"
                            data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Discuss a new project</h2>

                            <p class="section-title__description"
                            data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">Don’t miss out the potential visitors and sales for the<br class="d-none d-sm-block"> absence of your digital presence.</p>
                            <a class="btn btn--lg-2 btn-readical-red text-white rounded-50 mt-2" href="#"
                            data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}