{% macro render(options) %}
    {% import "components/_newsletter.njk" as newsletterOne %}
    <div class="cta-section cta-section--l1 bg-purple-heart dark-mode-texts">
        <div class="footer__shape-1">
            <img class="w-100" src="./image/home-1/footer-shape.png" alt="">
        </div>
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="300" data-aos-once="true">
                <div class="col-lg-7 col-md-8">
                    <div class="section-title text-center">
                        <h2 class="section-title__heading">It’s easy to get <br class="d-none d-xs-block"> started.
                        Start now.</h2>
                        <!-- Newsletter -->
                        {{newsletterOne.render({
                            "additional_class" : " mx-auto newsletter--l1-2",
                            "newsletter_btn_class" : "btn btn--lg btn-primary text-white h-70",
                            "placeHoldertext" : "Enter your email",
                            "btnTitle" : "Start For Free"
                        })}}
                        <!--/ .Newsletter -->
                    </div>
                </div>
            </div>
        </div>
    </div>
       
   <footer class="footer-area--l1  bg-purple-heart dark-mode-texts">
        <div class="container">
            
            <div class="footer-area footer-area--l1">
                <div class="row ">
                    <div class="col-lg-4 col-md-5 col-xs-7">
                        <div class="footer-widgets">
                            <!-- Brand Logo-->
                            <div class="brand-logo mt-1 mb-8">
                                <a href="#">

                                    <!-- light version logo (logo must be black)-->
                                    <img src="{{ settings.root }}image/png/logo-dark.png" alt="" class="light-version-logo">

                                    <!-- Dark version logo (logo must be White)-->
                                    <img src="{{settings.root}}image/png/logo-white.png" alt="" class="dark-version-logo">

                                </a>
                            </div>
                            <p class="footer-widgets__text">The best
                            medicines & biggest<br class="d-none d-xs-block"> brands within 30 minutes at your<br class="d-none d-xs-block"> home. Experience the power of<br class="d-none d-xs-block"> MedCartel today.</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">

                            <div class="col-md-4 col-xs-6">
                                <div class="footer-widgets">
                                    <h4 class="footer-widgets__title">Company</h4>
                                    <ul class="footer-widgets__list">
                                        <li>
                                            <a
                                            href="#">About
                                            us</a>
                                        </li>
                                        <li>
                                            <a
                                            href="#">Privacy
                                            Policy</a>
                                        </li>
                                        <li>
                                            <a
                                            href="#">Terms &
                                            Conditions</a>
                                        </li>
                                        <li>
                                            <a
                                            href="#">Rider</a>
                                        </li>
                                        <li>
                                            <a
                                            href="#">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="footer-widgets">
                                    <h4 class="footer-widgets__title">More Links</h4>
                                    <ul class="footer-widgets__list">
                                        <li>
                                            <a
                                            href="#">About
                                            us</a>
                                        </li>
                                        <li>
                                            <a
                                            href="#">Privacy
                                            Policy</a>
                                        </li>
                                        <li>
                                            <a
                                            href="#">Terms &
                                            Conditions</a>
                                        </li>
                                        <li>
                                            <a
                                            href="#">Rider</a>
                                        </li>
                                        <li>
                                            <a
                                            href="#">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-7">
                                <div class="footer-widgets footer-widgets--1">
                                    <h4 class="footer-widgets__title">Contact Details</h4>
                                    <ul class="footer-widgets__list footer-widgets--address">
                                        <li>
                                            <i class="fa fa-map-marker-alt"></i>
                                            <span>Amsterdam <br class="d-block">
                                            Netherlands</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone-alt"></i>
                                            <div class="list-content">
                                                <a href="#">+31 62 19
                                                22 705</a>
                                                <span> 7 Days - 8am
                                                - 10pm </span>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope"></i>
                                            <a href="mailto:info@medcartel.com">info@medcartel.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright footer-copyright--l1">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="copyright text-center text-md-start">
                            <p class="copyright__text">© 2021 UX Theme, All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="footer-social-share dot-right footer-social-share--1">
                            <ul
                            class="list-unstyled d-flex align-items-center justify-content-center justify-content-md-end">
                                <li>
                                    <a href="#">
                                        <i
                                        class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i
                                        class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i
                                        class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </footer>
{% endmacro %}