{% macro render(options) %}
{% import "components/_counter.njk" as Counter %}
<div class="about-us-section about-us-section--l5 bg-default">
  <div class="container">
    <!-- about-us Content -->
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8 col-xs-10" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
        <div class="about-us__image">
          <img class="w-100" src="./image/home-5/about-us-l5-img.png" alt="" />
          <!-- Video Button -->
          <a class="video-btn btn-primary popup-btn sonar-emitter"
              href="https://www.youtube.com/watch?v=LWZ7iytIA6k"> <i class="fa fa-play"></i> </a>
        </div>
      </div>
      <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-8 col-xs-10" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
        <div class="about-us-right mt-4 mt-lg-0">
          <div class="section-title section-title--l5">
            <h6 class="section-title__sub-heading text-primary">Watch video</h6>
            <h2 class="section-title__heading mb-4">Watch how we work</h2>
            <p class="section-title__description">Scale up and down easily as your business demands. And make use of
              business-grade consultation. Book flexibly by the day, week or longer and customise the layout to reflect
              your brand.</p>
          </div>
          <div class="content-btn-group mt-4">
            <a class="btn btn--lg-3 btn-primary me-3 text-white shadow--primary-2 rounded-50 me-3 popup-btn mb-3"
              href="https://www.youtube.com/watch?v=LWZ7iytIA6k">Learn More</a>
            <a class="btn btn--lg-3 btn-electric-violet-2 shadow--electric-violet-2-2 rounded-50 me-3 text-white mb-3"
              href="#">Get Started</a>
          </div>
        </div>
      </div>
    </div>
    <!--/ .about-us Content -->
  </div>
</div>
{% endmacro %}