{% macro render(options) %}
{% import "components/_widgets.njk" as widGets %}
<div class="content-section content-section--l4-2 bg-electric-violet-3 dark-mode-texts">
    <div class="container">
        <div class="row align-items-center justify-content-center justify-content-xl-start">
            <div class="col-xl-4 col-md-10">
                <div class="section-title section-title--l4 text-center text-xl-start">
                    <h6 class="section-title__sub-heading text-white">Our Process</h6>
                    <h2 class="section-title__heading">Our expert team<br class="d-none d-xxl-block"> do their best</h2>
                    <p class="section-title__description">You can also record any previous experience at<br class="d-none d-xs-block d-lg-none d-xl-block"> other jobs or volunteering and </p>

                    <a class="btn btn-torch-red btn--lg-2 text-white rounded-55" href="#">Get Started</a>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="widgets widgets-content--l4 text-center text-xl-start">
                    <div class="row justify-content-center">
                        {% for data in options.contentWidgetsthreeData %}
                        <div class="col-lg-4 col-sm-4 col-xs-6">
                            {{widGets.contentWidgetThree(
                                {
                                "additional_classes" : data.additional_classes, 
                                "color"       : data.color, 
                                "counter"       : data.counter, 
                                "title"       : data.title
                                }
                            )}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}