{% macro render(options) %}
    {% import "components/Cards/cards.njk" as Card %}
    <div class="table-section table-section--l4 bg-default-3 border-bottom border-default-color-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-9 col-xxl-7">
                    <div class="section-title section-title--l4 text-center">
                        <h6 class="section-title__sub-heading text-electric-violet-3">Pricing table</h6>
                        <h2 class="section-title__heading mb-4">Live Chat 24/7 Support</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- Single Table -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <div class="card card--table-single text-center">
                        <div class="table-top">
                            <h5 class="table-top__title">Optimizing & SEO</h5>
                            <p class="table-top__text">Monthly package</p>
                            <div class="card--price">
                                <span class="card--price__currency align-self-start">$</span>
                                <h1 class="card--price__price">20</h1>
                                <span class="card--price__price-time">/ Month</span>
                            </div>
                        </div>
                        <ul class="card--table-single__list list-unstyled">
                            <li>Unlimited updates & projects</li>
                            <li>Custom permissions</li>
                            <li>Custom instructors</li>
                            <li>Custom designs & features</li>
                        </ul>
                        <a class="btn btn-torch-red btn--lg-2 text-white" href="#">Get Started</a>
                    </div>
                </div>
                <!--/ .Single Table -->
                <!-- Single Table -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <div class="card card--table-single text-center">
                        <div class="table-top">
                            <h5 class="table-top__title">Designing</h5>
                            <p class="table-top__text">Monthly package</p>
                            <div class="card--price">
                                <span class="card--price__currency align-self-start">$</span>
                                <h1 class="card--price__price">40</h1>
                                <span class="card--price__price-time">/ Month</span>
                            </div>
                        </div>

                        <ul class="card--table-single__list list-unstyled">
                            <li>Unlimited updates & projects</li>
                            <li>Custom permissions</li>
                            <li>Custom instructors</li>
                            <li>Custom designs & features</li>
                        </ul>
                        <a class="btn btn-torch-red btn--lg-2 text-white" href="#">Get Started</a>
                    </div>
                </div>
                <!--/ .Single Table -->
                <!-- Single Table -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <div class="card card--table-single text-center">
                        <div class="table-top">
                            <h5 class="table-top__title">Development</h5>
                            <p class="table-top__text">Monthly package</p>
                            <div class="card--price">
                                <span class="card--price__currency align-self-start">$</span>
                                <h1 class="card--price__price">60</h1>
                                <span class="card--price__price-time">/ Month</span>
                            </div>
                        </div>
                        <ul class="card--table-single__list list-unstyled">
                            <li>Unlimited updates & projects</li>
                            <li>Custom permissions</li>
                            <li>Custom instructors</li>
                            <li>Custom designs & features</li>
                        </ul>
                        <a class="btn btn-torch-red btn--lg-2 text-white" href="#">Get Started</a>
                    </div>
                </div>
                <!--/ .Single Table -->
                <!-- Single Table -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <div class="card card--table-single text-center">
                        <div class="table-top">
                            <h5 class="table-top__title">Supporting</h5>
                            <p class="table-top__text">Monthly package</p>
                            <div class="card--price">
                                <span class="card--price__currency align-self-start">$</span>
                                <h1 class="card--price__price">80</h1>
                                <span class="card--price__price-time">/ Month</span>
                            </div>
                        </div>
                        <ul class="card--table-single__list list-unstyled">
                            <li>Unlimited updates & projects</li>
                            <li>Custom permissions</li>
                            <li>Custom instructors</li>
                            <li>Custom designs & features</li>
                        </ul>
                        <a class="btn btn-torch-red btn--lg-2 text-white" href="#">Get Started</a>
                    </div>
                </div>
                <!--/ .Single Table -->
            </div>
        </div>
    </div>
{% endmacro %}