{% macro render(args) %}
    <div class="promo-area promo-area--l4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="pormo--l4-content pormo--l4 dark-mode-texts" style="background-image: url(./image/home-4/promo-l4-img.png);">
                        <div class="section-title section-title--l4">
                            <h6 class="section-title__sub-heading text-yellow-2">Booking</h6>
                            <h2 class="section-title__heading">Book service online</h2>
                            <p class="section-title__description">The fastest way to talk to one of our Customer Service<br class="d-none d-sm-block"> agents about your bookings. Yes – any cancellation fees<br class="d-none d-sm-block"> are determined by the property.</p>

                            <a class="btn btn-torch-red btn--lg-2 text-white rounded-55" href="#">Booking</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}