{% macro render(options) %}
{% import "components/_widgets.njk" as widGets %}
<div class="content-section content-section--8 bg-default-5 border-bottom border-default-color-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-9 col-xs-10">
                <!-- Section Title -->
                <div class="section-title section-title--l8 mt-4 mt-md-0 text-center">
                    <h6 class="section-title__sub-heading text-bittersweet" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">About Lupinus Group</h6>
                    <h2 class="section-title__heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">Innovative Building With New Materials</h2>
                </div>
                <!--/ .Section Title -->
            </div>
        </div>
        <div class="row align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
            <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-8 col-xs-9 order-2 order-lg-1">
                <div class="widget widget--about widgets-align-right">
                    {% for data in options.aboutdataOne %}
                    <!-- Single Services -->
                    {{widGets.aboutWidgetone(
                    {
                    "icon" : data.icon,
                    "title" : data.title,
                    "text" : data.text
                    }
                    )}}
                    <!--/ .Single Services -->
                    {% endfor %}
                </div>
            </div>
            <div class="col-xxl-6 col-lg-4 col-md-8 col-xs-9 order-1 order-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
                <div class="content-img content-img--l7-group-img text-center">
                    <img class="w-100" src="./image/home-7/about-mobile-img.png" alt="">
                    <div class="shape">
                        <img src="./image/home-7/green-shape.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-8 col-xs-9 order-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
                <div class="widget widget--about">
                    {% for data in options.aboutdataTwo %}
                    <!-- Single Services -->
                    {{widGets.aboutWidgetone(
                    {
                    "icon" : data.icon,
                    "title" : data.title,
                    "text" : data.text
                    }
                    )}}
                    <!--/ .Single Services -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}