{% macro render(options) %}
<div class="brand-area brand-area--l2 bg-default-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="section-title--2 text-center">
                    <h2 class="section-title--2__heading" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Software Integrations</h2>
                    <p class="section-title--2__description" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">Create custom landing pages with Fastland that converts <br class="d-none d-sm-block"> more
                        visitors than any website.</p>
                    <div class="section-title--2__button">
                        <a class="btn-link--2 with--line border--primary" href="" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400" data-aos-once="true">Explore All
                            Apps</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-9" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
                <div class="brand-image-group brand-image-group--l2">
                    <div class="brand-image-group--l2__image--main circle-126">
                        <div class="img-0">
                            <img class="w-100" src="./image/home-2/brand-logo-1.png" alt="">
                        </div>
                    </div>
                    <!-- Image -->
                    <div class="brand-image-group--l2__single brand-image-group--l2__img-1 circle-91">
                        <div class="brand-logo-1">
                            <img class="w-100" src="./image/home-2/brand-logo-2.png" alt="">
                        </div>
                    </div>

                    <div class="brand-image-group--l2__single brand-image-group--l2__img-2 circle-103">
                        <div class="brand-logo-2">
                            <img class="w-100" src="./image/home-2/brand-logo-3.png" alt="">
                        </div>
                    </div>

                    <div class="brand-image-group--l2__single brand-image-group--l2__img-3 circle-98">
                        <div class="brand-logo-3">
                            <img class="w-100" src="./image/home-2/brand-logo-4.png" alt="">
                        </div>
                    </div>

                    <div class="brand-image-group--l2__single brand-image-group--l2__img-4 circle-99">
                        <div class="brand-logo-4">
                            <img class="w-100" src="./image/home-2/brand-logo-5.png" alt="">
                        </div>
                    </div>

                    <div class="brand-image-group--l2__single brand-image-group--l2__img-5 circle-95">
                        <div class="brand-logo-5">
                            <img class="w-100" src="./image/home-2/brand-logo-6.png" alt="">
                        </div>
                    </div>

                    <div class="brand-image-group--l2__single brand-image-group--l2__img-6 circle-113">
                        <div class="brand-logo-6">
                            <img class="w-100" src="./image/home-2/brand-logo-7.png" alt="">
                        </div>
                    </div>

                    <div class="brand-image-group--l2__single brand-image-group--l2__img-7 circle-88">
                        <div class="brand-logo-7">
                            <img class="w-100" src="./image/home-2/brand-logo-8.png" alt="">
                        </div>
                    </div>

                    <div class="brand-image-group--l2__single brand-image-group--l2__img-8 circle-108">
                        <div class="brand-logo-8">
                            <img class="w-100" src="./image/home-2/brand-logo-9.png" alt="">
                        </div>
                    </div>

                    <!-- Image Line -->
                    <div class="brand-image-group--l2__line-1">
                        <img class="w-100" src="./image/home-2/brand-line-1.png" alt="">
                    </div>
                    <div class="brand-image-group--l2__line-2">
                        <img class="w-100" src="./image/home-2/brand-line-2.png" alt="">
                    </div>
                    <div class="brand-image-group--l2__line-3">
                        <img class="w-100" src="./image/home-2/brand-line-3.png" alt="">
                    </div>
                    <div class="brand-image-group--l2__line-4">
                        <img class="w-100" src="./image/home-2/brand-line-4.png" alt="">
                    </div>
                    <div class="brand-image-group--l2__line-5">
                        <img class="w-100" src="./image/home-2/brand-line-5.png" alt="">
                    </div>
                    <div class="brand-image-group--l2__line-6">
                        <img class="w-100" src="./image/home-2/brand-line-6.png" alt="">
                    </div>
                    <div class="brand-image-group--l2__line-7">
                        <img class="w-100" src="./image/home-2/brand-line-7.png" alt="">
                    </div>
                    <div class="brand-image-group--l2__line-8">
                        <img class="w-100" src="./image/home-2/brand-line-8.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}