{% macro render() %}
<div class="cta-section cta-section--l2 bg-default">
    <div class="container">
        <div class="cta-section--l2__content bg-electric-violet dark-mode-texts">
        <div class="row align-items-center">
            <div class="col-lg-7">
                    <h3 class="cta-section--l2__content__heading" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">Get started by<br class="d-none d-xs-block">  downloading apps.</h3>
                </div>
                <div class="col-lg-5">
                    <div class="cta-section--l2__button text-center text-lg-end">
                        <a class="btn btn--190 btn-white rounded-55" href="" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">Download App</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}