{% macro render(options) %}
{% import "components/_newsletter.njk" as newsletterOne %}
<div class="welcome-area welcome-area--l2 bg-default">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-11">
                <div class="welcome-content welcome-content--l2 text-center position-relative">
                    <h1 class="welcome-content--l2__heading" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">The intelligent way to manage projects.</h1>
                    <p class="welcome-content--l2__descriptions" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">Create custom landing pages with Fastland that<br class="d-none d-xs-block"> converts more
                        visitors than any website.
                    </p>
                    <div class="welcome-content--l2-shape" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
                        <img class="w-100" src="./image/home-2/l2-hero-shape.png" alt="">
                    </div>
                </div>
                <!-- Newsletter -->
                <div class="welcome-content--l2__newsletter" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
                    {{newsletterOne.render({
                        "additional_class" : "mx-auto newsletter-form--l2",
                        "newsletter_additional_class" : "rounded-55",
                        "newsletter_btn_class" : "btn btn-primary text-white btn--medium rounded-55",
                        "placeHoldertext" : "@ Enter your email",
                        "btnTitle" : "Start Now!"
                    })}}
                </div>
                
                <!--/ .Newsletter -->
            </div>
            <div class="col-lg-5 col-md-7" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
                <div class="welcome-image welcome-image--l2">
                    <img class="w-100" src="./image/home-2/l2-hero-image.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="welcome-area--l2-shape-1" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
        <img class="w-100" src="./image/home-2/l2-hero-shape-2.png" alt="">
    </div>
    <div class="welcome-area--l2-shape-2" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
        <img class="w-100" src="./image/home-2/l2-hero-shape-1.png" alt="">
    </div>
</div>
{% endmacro %}